<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Med Show</title>
     <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css/'%}" />
</head>
<body>
<style>
    body{
        background-color: navajowhite;
    }
    .form-label{
        color: black;
        font-weight: bold;
        width: 50px;


    }
    .form-control{
        width: 100px;
        height: 50px;
        background-color: #f5c2c7;
        color: black;
        font-weight: bold;

    }
</style>
<center>
<div class="container forms-form"  style="text-align: center">
    <div class="mb-3">
        <div class="row gy-6">

<form action="/add-shows/" method="post"  enctype="multipart/form-data">
    {%csrf_token%}
    <div class="col-9">
        <br>
        <label class="form-label">{{form.as_p}}</label>
        <center>
    <input class="form-control" type="submit" value="Добавить" />
            </center>
    </div>
</form>
        </div>
    </div>

</div>





</center>
</body>
</html>