<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Post List</title>
</head>
<body>
<center>
    <ul>
        {%for i in med_post %}
            <h2>{{i.title}}</h2>
            <p>
                {{i.description}}
            </p>
            <br>
            <img src="{{i.images.url}}" alt="" width="120" height="120">
            <p>
                {{i.created_date}}
            </p>
            <p>
                {{i.updated_date}}
            </p>
        {% endfor %}
    </ul>
</center>

</body>
</html>